.header {
    padding: 0 var(--lumo-space-m);
}

.header h1.logo, .header h1.id {
    font-size: 1em;
    margin: var(--lumo-space-m);
}


/* center pyramid and pyramid rows vertically */
.app-layout .mathpyramid-layout, .app-layout .mathpyramid-layout .row {
    margin: 1em auto;
}

