/*
   Visit https://vaadin.com/docs/flow/theme/theming-overview.html and
   https://vaadin.com/themes/lumo for more information.
*/
[part="input-field"] {
    border: 1px solid grey;
	margin: 5px;
	color: grey;
	font-weight: bold;
	width: 5em;
	background-color: white;
	height: 2.5em;
	border-radius: 0;
	font-family: "AvenirNextLTW02-Regular", sans-serif;
	font-size: 16px;
}

/* remove dashed border */
[part="input-field"]::after {
    border-color: transparent !important;
}
/* center numbers in field */
[part="value"] {
    text-align: center;
}
/* darker background color for readonly fields */
:host([readonly]) [part="input-field"] {
    color: grey;
    cursor: default;
    background-color: lightgrey;
}
/* green for solved fields */
:host(.correct) [part="input-field"] {
    background-color: lightgreen;
}
/* pink for incorrect fields */
:host(.incorrect) [part="input-field"] {
    background-color: lightpink;
}
